* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.alignment {
  height: 100%;
  width: 70%;
  margin: auto;
  background: red;
  border: 1px solid black;
}

.container {
  height: 4000px;
  background-color: lightgrey;
}

header {
  height: 700px;
  border-bottom: 3px solid black;
}

#header-top {
  height: 25%;
  background: pink;
}

#top-half {
  height: 50%;
  background-color: lightyellow;
}

#bottom-half {
  height: 50%;
  background-color: lightgreen;
}

#header-bottom {
  height: 75%;
  background-color: aqua;
}

#contenuto-hb {
  width: 50%;
  height: 100%;
  background-color: pink;
}

main {
  border-bottom: 3px solid black;
}

#main-top {
  width: 100%;
  height: 800px;
  background-color: aquamarine;
}

.top-part {
  width: 100%;
  height: 200px;
  background-color: lightblue;
  margin-bottom: 20px;
}

#bottom-part {
  width: 100%;
  height: 340px;
  background-color: blue;
}
#bottom-part .hub:nth-child(2) {
  margin: 0 5%;
}

.hub {
  width: 30%;
  height: 100%;
  background-color: gray;
  float: left;
  border: 1px solid black;
}

#main-middle {
  width: 100%;
  height: 500px;
  background-color: gold;
}

#title {
  width: 100%;
  height: 200px;
  margin: 20px 0;
  background-color: skyblue;
}

#grid {
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
  background-color: skyblue;
}

#main-bottom {
  width: 100%;
  height: 500px;
  background-color: lightyellow;
}

#left-side {
  width: 40%;
  height: 100%;
  background-color: orange;
  float: left;
}
#left-side-top {
  width: 100%;
  height: 30%;
  border: 1px solid black;
}
#left-side-bottom {
  width: 100%;
  height: 70%;
  border: 1px solid black;
}

#right-side {
  width: 60%;
  height: 100%;
  background-color: lightgreen;
  float: left;
}
#right-side-top {
  width: 100%;
  height: 30%;
  border: 1px solid black;
}
#right-side-bottom {
  width: 100%;
  height: 70%;
  border: 1px solid black;
}
