* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}
body p {
  font-size: 12px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.alignment {
  height: 100%;
  width: 70%;
  margin: auto;
}

.list-inline {
  height: 100%;
  list-style: none;
}
.list-inline li {
  height: 100%;
  display: inline-block;
  text-decoration: none;
  line-height: 60px;
  padding: 0 10px;
}
.list-inline li:first-child {
  padding-left: 0px;
}
.list-inline li:last-child {
  padding-right: 0px;
}
.list-inline a {
  text-decoration: none;
  color: #33475B;
}
.list-inline a:hover {
  text-decoration: underline;
}

li .button {
  height: 100%;
  display: inline-block;
  line-height: 16px;
  background-color: #FF7A5A;
  border: 1px solid #FF7A5A;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
li .button:hover {
  text-decoration: none;
}

.container {
  background-color: #F4F9FD;
}


#top-half {
  width: 100%;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 5;
  background-color: #F4F9FD;
  border-bottom: 1px solid #33475B;
}

#top-left-side {
  height: 100%;
  float: left;
}
#top-left-side a {
  border-right: 1px solid #33475B;
  padding-right: 20px;
}
#top-left-side li:last-child a {
  border-right: 0px;
}

#top-right-side {
  height: 100%;
  float: right;
}
#search {
  color: #58BED0;
}
#login {
  background-color: #F4F9FD;
  color: #FF7A5A;
}

#nav {
  margin-top: 60px;
  background-color: white;
}
#nav-left {
  height: 100%;
  float: left;
  line-height: 60px;
}
#nav-left img {
  width: 100px;
  vertical-align: middle;
}

#nav-right {
  height: 100%;
  float: right;
}

#jumbotron {
  height: 695px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: top right;
}

#contenuto-hb {
  width: 50%;
  height: 100%;
}
#contenuto-hb h1{
  font-size: 35px;
  color: #33475B;
  padding-top: 50px;
}
#contenuto-hb p {
  padding: 20px 0;
  line-height: 1.8;
}
.button {
  display: inline-block;
  padding: 20px 40px;
  line-height: 16px;
  background-color: #FF7A5A;
  border: 1px solid #FF7A5A;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

main {
  border-bottom: 3px solid black;
}

#main-top {
  width: 100%;
  /* height: 800px; */
  background-color: #F4F9FD;
}

.top-part {
  width: 100%;
  height: 250px;
  display: inline-block;
  margin-top: 20px;
  position: relative;
  color: #33475B;
  /* border: 1px solid black; */
}
#integration {
  width: 175px;
}
.powerful-alone {
  width: 85%;
  padding-top: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.powerful-alone h2 {
  margin-bottom: 20px;
}
.powerful-alone p {
  line-height: 20px;
}

#free-hubspot-container {
  width: 100%;
  height: 250px;
  display: inline-block;
  background-color: white;
  box-shadow: 1px 1px 3px 3px #EDEDED;
  border: 1px solid #FAFAFA;
  border-radius: 5px;
  margin-top: 20px;
}
#container-left {
  width: 30%;
  height: 100%;
  background-color: white;
  float: left;
  position: relative;
  /* border-right: 1px solid black; */
}
#crm {
  width: 120px;
  display: inline-block;
  margin-bottom: 20px;
}
#container-left .button {
  font-size: 12px;
  padding: 15px 25px;
}
#inside-container {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container-right {
  width: 70%;
  height: 100%;
  background-color: white;
  float: left;

}
#hubspot-crm {
  width: 100%;
  height: 50%;
  padding: 0 30px;
  color: #33475B;
}
#hubspot-crm h3 {
  padding-top: 50px;
  margin-bottom: 20px;
}
#hubspot-crm p {
  line-height: 20px;
}


#popolar-feature {
  padding: 0 30px;
  color: #33475B;
  position: relative;
}
#popolar-feature::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 60%;
  height: 9px;
  border-top: 2px solid gray;
}
#popolar-feature h4 {
  margin-top: 25px;
  text-transform: uppercase;
}
#check-list {
  width: 100%;
  padding-left: 30px;
  padding-top: 20px;
}
#check-list li {
  display: inline-block;
  font-size: 12px;
  padding-right: 10px;
 }
 #check-list li i {
   padding-right: 5px;
 }
.check-circle {
  color: #FF7A5A;
}

#bottom-part {
  width: 100%;
  margin-top: 25px;
}
#bottom-part .hub-container:nth-child(2) {
  margin: 0 5%;
}

.hub-container {
  width: 30%;
  padding: 10px;
  margin-bottom: 30px;
  background-color: white;
  float: left;
  box-shadow: 1px 1px 3px 3px #EDEDED;
}
.hub {
  height: 100%;
}
.hub-top {
  border-bottom: 1px solid black;
}
.hub-image {
  display: block;
  width: 90px;
  margin: auto;
  margin-bottom: 20px;
}
#sales-image {
  width: 110px;
}
#service-image {
  width: 81px;
}
.hub-text {
  width: 95%;
  line-height: 20px;
  text-align: center;
  color: #33475B;
  margin-bottom: 60px;
}
.hub-text h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
.hub-bottom {
  color: #33475B;
}
.bottom-title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.list li {
  font-size: 12px;
  list-style: none;
}
.list li i {
  padding-right: 10px;
}
.bottom-button {
  text-align: center;
  margin-top: 40px;
}
.bottom-button a {
  font-size: 12px;
  padding: 15px 25px;
}

#main-middle {
  width: 100%;
  /* height: 500px; */
  background-image: linear-gradient(to right, #00A7BA, #00B8A9);
}

#title {
  display: inline-block;
  width: 100%;
  /* height: 200px; */
  margin: 30px 0;
  /* background-color: skyblue; */
}
#title h3 {
  font-size: 23px;
  text-align: center;
  color: white;
  margin-top: 20px;
}
#title p {
  text-align: center;
  color: white;
  margin-top: 30px;
}

#grid {
  display: inline-block;
  width: 100%;
  height: 350px;
  margin: 20px 0px 30px 0;
  /* background-color: skyblue; */
}
#grid-top {
  width: 100%;
  height: 40%;
  border-bottom: 1px solid white;
}
.grid-box {
  width: 25%;
  height: 100%;
  padding: 10px 0px;
  border-right: 1px solid white;
  float: left;
}
.grid-box:last-child {
  border-right: 0px;
}
.icon {
  text-align: center;
}

.grid-text {
  text-align: center;
  color: white;
}
.grid-text h3 {
  display: inline-block;
  font-size: 35px;
  margin: 10px 0px;
  vertical-align: middle;
}
.grid-text p {
  font-size: 10px;
}
#plus {
  line-height: 43px;
  font-size: 18px;
}

#grid-bottom {
  width: 100%;
  height: 40%;
}
#app-marketplace {
  width: 120px;
}

#main-bottom {
  width: 100%;
  height: 500px;
  background-color: lightyellow;
}

#left-side {
  width: 40%;
  height: 100%;
  background-color: orange;
  float: left;
}
#left-side-top {
  width: 100%;
  height: 30%;
  border: 1px solid black;
}
#left-side-bottom {
  width: 100%;
  height: 70%;
  border: 1px solid black;
}

#right-side {
  width: 60%;
  height: 100%;
  background-color: lightgreen;
  float: left;
}
#right-side-top {
  width: 100%;
  height: 30%;
  border: 1px solid black;
}
#right-side-bottom {
  width: 100%;
  height: 70%;
  border: 1px solid black;
}

footer {
  height: 500px;
  background-color: coral;
}

#footer-top {
 height: 70%;
 border: 1px solid black;
}
.info {
  width: 25%;
  height: 100%;
  background-color: darkgrey;
  border: 1px solid black;
  float: left;
}

#footer-bottom{
  height: 30%;
}
#language {
  height: 30%;
  background-color: lightgray;
  border-bottom: 1px solid black;
}
#policy {
  height: 70%;
  background-color: grey;
}
