* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.alignment {
  height: 100%;
  width: 70%;
  margin: auto;
  background: red;
  border: 1px solid black;
}

.container {
  height: 4000px;
  background-color: lightgrey;
}

header {
  height: 700px;
  border-bottom: 3px solid black;
}

#header-top {
  height: 25%;
  background: pink;
}

#top-half {
  height: 50%;
  background-color: lightyellow;
}

#bottom-half {
  height: 50%;
  background-color: lightgreen;
}

#header-bottom {
  height: 75%;
  background-color: aqua;
}

#contenuto-hb {
  width: 50%;
  height: 100%;
  background-color: pink;
}
